.header{
    text-align: center;

}

.header-text{

}

.header-img{
    height: 5rem;
    width: 5rem;
}

.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: -3rem;
}

.header-secondary{
    color: rgb(237, 231, 165);
}

.header-title{
    font-size: 3.5rem;
    margin-top: -0.5rem;
    cursor: pointer;
    user-select: none;
}

.pill{
    width: 20%;
    background: rgb(237, 231, 165);
    height: 0.25rem;
    border-radius: 0.1rem;
}