.header-div{
    width: 100%;
    height: 7rem;
    background: #666;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0.5rem;
    align-items: center;
}

.header-img{
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    user-select: none;
    cursor: pointer;
    margin-top: 2rem;
}

.header-btn{
    font-size: 1rem;
    margin: 0 0.5rem;
    width: 6rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 0 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    user-select: none;
    border: 2px solid #666;
    text-decoration: none;
    color: rgb(238, 237, 225);
}

.header-btn > h2{
    font-weight: 300;
}


.header-btn:hover{
    background-color: turquoise;
    color: black;
    cursor: pointer;
}

.header-btn:active{
    border: 2px solid black;
}

.btn-dropdown{
    position: fixed;
    height: 10rem;
    width: 10rem;
    background: #444;
    transform: translate(-2.2rem, 1rem);
    font-size: 1rem;
    z-index: 2;
    color:rgb(238, 237, 225) !important;
}

.btn-dropdown-triangle{
    position: fixed;
    height: 2rem;
    width: 2rem;
    background: #444;
    transform: translateX(1.6rem) rotate(45deg) ;
    z-index: 1;
}
.dotted-bar{
    height: 0;
    
    border-top: 0.25rem dotted black;
    margin: -0.5rem 1rem;
}

.dropdown-btn{
    box-sizing: border-box;
    padding: 0.5rem;
}

.dropdown-btn:hover{
    background: #888;
}

.circle-link{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}