img{
    height: 8rem;
    width: 8rem;
    border-radius: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


.page-flex{
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.tip-text{
    margin-bottom: -0.5rem;
    text-align: center;
}

.login-row{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.login-icon{
    cursor: pointer;
}

.login-icon:hover{
    color: rgb(237, 231, 165);
}

.profile-text{
    text-align: center;
}